# Logs
logs
*.log

# Build files
build/
dist/

# Dependencies
node_modules/

# Environment variables
.env

# IDE/Editor specific files
.idea/
.vscode/

# ESLint local cache linting results
.eslintcache

# Compiled output
*.class
*.war
*.jar

# Mac specific files
.DS_Store

# Editor/IDE configuration
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows thumbnail cache files
Thumbs.db
